body {
    background-image: url('/images/background.jpg');
    background-size: cover; /* Adjust to your preference */
    background-repeat: no-repeat;
    background-attachment: fixed; /* Fixed background */
    /* Additional styling */
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    color: #333; /* Text color */
}
        h1, h2 {
            color: #fff; /* Белый цвет текста для заголовков для лучшей видимости на градиентном фоне */
        }
            table {
                width: 100%;
                border-collapse: collapse;
                margin-top: 20px;
            }
            table, th, td {
                border: 1px solid #ddd;
            }
            th {
                background-color: #4CAF50;
                color: white;
                padding: 10px;
            }
            td {
                text-align: center;
                padding: 8px;
            }
            tr:nth-child(even){background-color: #f2f2f2}
            th:nth-child(6), td:nth-child(6) {
                text-align: left;
            }
            form {
                background-color: #fff;
                padding: 20px;
                border-radius: 5px;
                box-shadow: 0 2px 5px rgba(0,0,0,0.1);
                max-width: 600px;
                margin: 20px auto;
            }
            label {
                display: block;
                margin: 10px 0 5px;
            }
            input[type="text"],
            input[type="number"],
            textarea {
                width: 100%;
                padding: 10px;
                margin-bottom: 15px;
                border: 1px solid #ddd;
                border-radius: 4px;
                box-sizing: border-box;
            }
            input[type="file"] {
                border: none;
            }
            button {
                background-color: #5cb85c;
                color: white;
                padding: 10px 20px;
                border: none;
                border-radius: 4px;
                cursor: pointer;
                font-size: 16px;
            }
            button:hover {
                background-color: #4cae4c;
            }
            .login-button {
                position: absolute;
                top: 20px;
                right: 20px;
                background-color: #007bff; /* Синяя кнопка */
                color: white;
                padding: 10px 20px;
                border: none;
                border-radius: 4px;
                text-align: center;
                text-decoration: none;
                font-size: 16px;
                cursor: pointer;
            }

            .login-button:hover {
                background-color: #0056b3; /* Потемнее при наведении */
            }
            .search-container {
                text-align: center; /* Выровнять по центру */
                margin-bottom: 20px;
            }

            .search-container input[type="text"] {
                width: 30%; /* Задать ширину поля поиска */
                padding: 10px;
                margin-right: 5px; /* Добавить пространство между полем и кнопкой */
                border: 1px solid #ddd;
                border-radius: 4px;
                box-sizing: border-box;
            }

            .search-container button {
                background-color: #5cb85c;
                color: white;
                padding: 10px 20px;
                border: none;
                border-radius: 4px;
                cursor: pointer;
                font-size: 16px;
            }

            .search-container button:hover {
                background-color: #4cae4c;
            }