<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Личный кабинет</title>
    <!-- Add your CSS links here -->
    <link rel="stylesheet" th:href="@{/css/stylesLk.css}" href="/css/stylesLk.css">
</head>
<body>
<div>
    <span th:text="${user != null ? user.name : 'Неавторизованный пользователь'}">Имя пользователя</span>
</div>
<section>
    <h2>Личный кабинет</h2>
    <!-- Section to display user info and edit personal details -->
    <h3>Персональные данные:</h3>
    <div>
        <!-- Assuming there is a 'user' object available in the model -->
        <p>Имя: <span th:text="${user != null ? user.name : 'Недоступно'}"></span></p>
        <p>Телефон: <span th:text="${user.phoneNumber}"></span></p>
        <p>Email: <span th:text="${user.email}"></span></p>
        <!-- Link to page or form to edit these personal details -->
        <a th:href="@{/edit-user}">Изменить персональные данные</a>
    </div>
</section>

<section th:fragment="productForm">
    <h3>Создать новый товар/услугу:</h3>
    <div>
        <h2>СОЗДАТЬ НОВЫЙ ТОВАР/УСЛУГУ</h2>
        <form th:action="@{/product/create}" method="post" enctype="multipart/form-data" th:object="${product}">
            <div>
                <label for="title">Название:</label>
                <input type="text" id="title" name="title" required />
            </div>
            <div>
                <label for="description">Подробное описание:</label>
                <textarea id="description" name="description"></textarea>
            </div>
            <div>
                <label for="price">ЦЕНА:</label>
                <input type="number" id="price" name="price" required />
            </div>
            <div>
                <label for="city">ГОРОД:</label>
                <input type="text" id="city" name="city" required />
            </div>
            <div>
                    <label for="file1">ФОТО 1:</label>
                    <input type="file" id="file1" name="files" />
                    <div>
                        <label for="file2">ФОТО 2:</label>
                        <input type="file" id="file2" name="files" />
                    </div>
                    <div>
                        <label for="file3">ФОТО 3:</label>
                        <input type="file" id="file3" name="files" />
                    </div>
            <div>
                <button type="submit">Сохранить ТОВАР/УСЛУГУ</button>
            </div>
        </form>
    </div>

</section>

<section>
    <h3>Мои товары/услуги:</h3>
    <!-- Проверяем, есть ли товары -->
    <div th:if="${not #lists.isEmpty(products)}">
        <table>
            <thead>
                <tr>
                    <th>Название</th>
                    <th>Описание</th>
                    <th>Цена</th>
                    <th>Город</th>
                    <th>ИЗМЕНИТЬ ОБЪЯВЛЕНИЕ</th>
                    <th>ПРОСМОТР</th>
                    <th>Удалить</th>
                </tr>
            </thead>
            <tbody>
                <!-- Перебираем в loop все продукты -->
                <tr th:each="product : ${products}">
                    <td th:text="${product.title}">Название товара</td>
                    <td th:text="${product.description}">Описание товара</td>
                    <td th:text="${product.price}">Цена товара</td>
                    <td th:text="${product.city}">Город товара</td>
                    <td>
                        <!-- Ссылка для редактирования -->
                        <a th:href="@{'/product/edit/' + ${product.id}}">Изменить</a>
                    </td>
                    <td>
                         <a th:href="@{'/product/' + ${product.id}}">Просмотр</a>
                     <!-- Здесь могут быть добавлены другие действия -->
                    </td>
                    <td>
                        <!-- Форма для удаления -->
                        <form th:id="'delete-product-form-' + ${product.id}" th:action="@{'/product/delete/' + ${product.id}}" method="post">
                            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
                            <input type="hidden" name="_method" value="delete"/>
                        </form>
                        <a href="#" th:onclick="'submitForm(\'delete-product-form-' + ${product.id} + '\')'">Удалить</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <!-- Если нет товаров -->
    <div th:if="${#lists.isEmpty(products)}">
        <p>У вас еще нет добавленных товаров/услуг.</p>
    </div>
</section>


<script>
    function submitForm(formId) {
        document.getElementById(formId).submit();
    }
</script>
<form action="/logout" method="post" id="logout-form">
    <!-- Assuming Thymeleaf is processing this template, it will replace the following with the CSRF token -->
    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
    <button type="submit" class="login-button">Выйти</button>
</form>
</body>
</html>