<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Product Dashboard</title>
     <link rel="stylesheet" th:href="@{/css/stylesIndex.css}" href="/css/stylesIndex.css">

     <script src="/js/javascript.js"></script>
</head>
<body>

<div>
    <h1>СПИСОК ТОВАРОВ/УСЛУГ</h1>
    <div class="login-button-container">
        <a href="/lk" class="login-button">Вход в личный кабинет</a>
    </div>
    <div class="search-container">
        <form action="/search" method="get">
            <input type="text" placeholder="Название" name="title">
            <input type="text" placeholder="Описание" name="description">
            <input type="text" placeholder="Минимальная цена" name="minPrice">
            <input type="text" placeholder="Максимальная цена" name="maxPrice">
            <input type="text" placeholder="Город" name="city">
            <input type="text" placeholder="Автор" name="author">

            <button type="submit">Искать</button>
        </form>
    </div>
    <table>
        <thead>
            <tr>
                <th>НАЗВАНИЕ</th>
                <th>ПОДРОБНОЕ ОПИСАНИЕ</th>
                <th>ЦЕНА</th>
                <th>ГОРОД</th>
                <th>АВТОР</th>
                <th>ДАТА СОЗДАНИЯ</th>
                <th>ФОТО</th>
                <th>ПРОСМОТР ОБЪЯВЛЕНИЯ</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="product : ${products}">
                <td th:text="${product.title}">Название</td>
                <td th:text="${product.description}">Описание</td>
                <td th:text="${product.price}">Цена</td>
                <td th:text="${product.city}">Город</td>
                <td th:if="${product.user != null}" th:text="${product.user.name}">Автор</td>

                <td th:text="${#temporals.format(product.dateOfCreated, 'dd.MM.yyyy HH:mm')}">Дата создания</td>
                <td>
                    <div th:if="${not #lists.isEmpty(product.images)}">
                        <!-- Display the first image as the main photo -->

                        <img th:if="${product.images[0].isPreviewImage}" th:src="@{/images/{id}(id=${product.images[0].id})}" alt="Main Image" th:alt="${product.title}" src=""/>
                    </div>
                    <span th:if="${#lists.isEmpty(product.images)}">Нет фото</span>
                </td>
                <td>
                    <a th:if="${product.user != null}" th:href="@{'/product/' + ${product.id}}">Просмотр</a>
                    <span th:if="${product.user == null}">Просмотр</span>
                </td>
            </tr>
        </tbody>
    </table>
</div>
</body>
</html>
