<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Product Info</title>
    <link rel="stylesheet" th:href="@{/css/stylesPageInfo.css}" href="/css/stylesPageInfo.css">
</head>
<body>

<div class="container">
    <h1 class="title" th:text="${product.title}">Product Title</h1>

    <!-- Проверяем, что список изображений не пустой и не null -->
    <div th:if="${not #lists.isEmpty(product.images)}">
        <!-- Получаем первое изображение, как предпросмотр -->
        <div>
            <!-- Используем ID изображения для создания URL -->
            <img th:if="${product.images[0].isPreviewImage}" th:src="@{/images/{id}(id=${product.images[0].id})}" alt="Main Image" th:alt="${product.title}" src=""/>
        </div>

        <!-- Отображаем остальные изображения -->
        <div th:each="image : ${product.images}" th:if="${!image.isPreviewImage}">
            <img th:src="@{/images/{id}(id=${image.id})}" alt="Additional Image" th:alt="${product.title}" src=""/>
        </div>
    </div>

    <div class="details">
        <div><span>Описание товара/услуги: </span> <span th:text="${product.description}">Product Description</span></div>
        <div><span>Цена: </span> <span th:text="${product.price}">Product Price</span></div>
        <div><span>Город: </span> <span th:text="${product.city}">Product City</span></div>
        <div><span>Автор: </span>
            <span th:if="${product.user != null}" th:text="${product.user.name}">Зарегистрированный пользователь</span>
            <span th:if="${product.user == null}">Неизвестный пользователь</span>
        </div>
    </div>

    <a href="/" class="back-link">Вернуться к списку товаров/услуг</a>
</div>

</body>
</html>